body
{
    margin: 0;
}

.header-box
{
    position: relative;

    height: 100px;

    background-color: black;
}

.logo
{
    font-family: 'Halant', serif;
    font-size: 40px;

    position: absolute;
    bottom: -22px;
    left: 50px;

    margin: 0;

    text-transform: uppercase;

    color: white;
}

.menu
{
    font-family: 'Halant', serif;
    font-size: 20px;

    position: absolute;
    right: 50px;
    bottom: -11px;

    margin: 0;

    color: white;
}

.page
{
    padding-left: 35px;
}

.page-title
{
    font-family: 'Halant', serif;
    font-size: 35px;

    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 15px;

    text-transform: capitalize;
}

.item
{
    position: relative;

    float: left;

    width: 260px;
    height: 350px;
    margin: 15px;

    border-width: 10px;
    border-style: solid;
    border-color: black;
}

.thumbnail
{
    line-height: 230px;

    width: 230px;
    height: 230px;
    margin: 15px;

    text-align: center;
}

.artifact
{
    max-width: 100%;
    max-height: 100%;

    vertical-align: middle;
}

.description
{
    margin-right: 15px;
    margin-left: 15px;
}

.description-text
{
    font-family: 'Halant', serif;
    font-size: 20px;
    line-height: 20px;

    margin: 0;

    text-align: center;
}

.italic-text
{
    font-style: italic;
}

.star
{
    position: absolute;
    right: 0;
    bottom: 0;

    margin: 5px;

    cursor: pointer;
}

.filled
{
    content: url('../images/starfilled.png');
}

.outline
{
    content: url('../images/staroutline.png');
}

.faded
{
    opacity: .15;
}
